<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212432731339-uk89mgjog0gfbvcpm71f4beid8qhgvsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212432731339-uk89mgjog0gfbvcpm71f4beid8qhgvsl</string>
	<key>API_KEY</key>
	<string>AIzaSyCkUTyvY5Ruob0J4D1Iuae8gKv9V11tx_A</string>
	<key>GCM_SENDER_ID</key>
	<string>212432731339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.harage.hatageApp</string>
	<key>PROJECT_ID</key>
	<string>haraj-8b11e</string>
	<key>STORAGE_BUCKET</key>
	<string>haraj-8b11e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212432731339:ios:8916f23faaa79d2e242f4e</string>
</dict>
</plist>